<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seata.bank11.mapper.bank1.AccountMapper">
  <resultMap id="BaseResultMap" type="com.seata.bank11.pojo.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
  </resultMap>

  <update id="updateAccount" parameterType="com.seata.bank11.pojo.Account">
    update account
    set  account_amount = account_amount - #{accountAmount,jdbcType=DOUBLE}
    where account_name = #{accountName,jdbcType=VARCHAR}
  </update>
</mapper>